.login {
  display: flex;
  justify-content: center;
  .login-form {
    display: flex;
    flex-direction: column;
    .login-form-input {
      margin: 0.5rem 0;
    }
    .login-form-paragraph {
      margin: 0;
    }
    .login-form-button {
      margin: 0.25rem 0;
    }
    .login-form-header-incorrect {
      color: red;
      margin-top: 0;
      margin-bottom: 18.72px;
    }
  }
}
